
.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 1.5rem;
  padding-top: 60px;
  margin-left: 198px; 
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
